<!DOCTYPE html>
<html>
<head>
  <title>SassLive</title>
  <%= stylesheet_link_tag    "sass_live/application", media: "all" %>
  <%= javascript_include_tag "sass_live/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
